@import url('https://fonts.googleapis.com/css2?family=Chivo:wght@100&family=Nunito:wght@300&display=swap');

body, html {
  overflow: hidden;
}

*{
  font-family: 'Nunito', sans-serif;
}
.container{
  width: 80%;
  margin: 0 auto;
  padding: 20px 0;
}

