@import './base.css';

#app {
  height: 100vh;
  background-color: #181a1b;
  color: white;
}

#navbar {
  display: flex;
  justify-content: center;
  text-transform: capitalize;
  font-size: 1.5rem;
  color: white;
  font-weight: 500;
  letter-spacing: 2px;
  width: 100%;
  background-color: #635c9c;
  padding: 15px 10px;
}

#filters-bar {
  background-color: #635c9c;
  padding: 15px 10px;
  border-radius: 5px;

  > #filters-select {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
  }

  > .action {
    display: flex;
    align-items: center;

    > #btn-predict {
      background-color: red;
      padding: 5px 20px;
      width: 90%;
      margin: 0 auto;
      border-radius: 6px;
      background-color: #928bcb;
      transition-duration: 500ms;
    }
    > #btn-predict:hover {
      background-color: #8179b8;
    }

    > #loader {
      visibility: hidden;
    }
  }
}

#filters-select {
  display: flex;
  justify-content: center;
  margin: 15px 0;

  > select.select-filter {
    -webkit-appearance: auto !important;
    background-color: #928bcb;
    border-radius: 5px;
    color: white;
    padding: 5px 20px;
  }
}

#loader {
  visibility: hidden;
  border: 2px solid #f3f3f3; /* Light grey */
  border-top: 2px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 24px;
  height: 24px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.visible {
  visibility: visible !important;
}
