@import './base.css';

#app{
  height: 100vh;
  background-color: #181A1B;
  color: white;
}


#navbar{
  display: flex;
  justify-content: center;
  text-transform: capitalize;
  font-size: 1.5rem;
  color: white;
  font-weight: 500;
  letter-spacing: 2px;
  width: 100%;
  background-color:  #635C9C;
  padding: 15px 10px;
}

#filters-bar{
  background-color: #635C9C;
  padding: 15px 10px;
  border-radius: 5px;

  > div {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
  }
}

.container{
  width: 80%;
  margin: 0 auto;
  padding: 20px 0;
}

